body {
    background-color: rgb(173, 255, 47);
}

h1,
h2,
h3,
p,
a,
li {
    color: rgb(0, 0, 255);
}

p,
a,
li {
    font-size: 24px;
}

h1 {
    margin: 12px;
}

a:hover {
    color: rgb(255, 0, 255);
}

a {
    display: block;
    margin: 20px;
}

.link {
    display: inline;
    margin: 0;
    padding: 0;
}

img {
    max-width: 60vw;
}

.aviso {
    color: red;
}

.dica {
    color: hsl(120, 100%, 25%);
}

* {
    max-width: 100vh;
}

.parabenisacao{
    color: rgb(255, 100, 0);
    border: 5px rgb(255, 100, 0) double;
    width: 46vh;
}